<h2>Road Crew Roster</h2>

<p>Filter Crew Members By Department:</p>
<select (change)="onChange($event.target.value)">
  <option value="allCrew" selected="selected">All Crew</option>
  <option value="lighting">Lighting</option>
  <option value="management">Mangement</option>
  <option value="sound">Sound</option>
  <option value="merchandise">Merchandise</option>
  <option value="food">Food</option>
</select>
<br>
<br>



<div *ngFor="let crew of crews | async | department:filterByDepartment" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(crew)"><em>{{crew.name}}</em> in: {{crew.department}}</h3>
    <div *ngIf="currentRoute === '/admin'">
        <p>{{crew.department}}</p>
        <p>{{crew.job}}</p>
        <p>{{crew.experience}}</p>
        <hr>
        <app-edit-crew [selectedCrew]="crew"></app-edit-crew>
      </div>
    </div>
  </div>
