<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Bob Dylan</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="roster">  Road-Crew Roster</a></li>
      <li><a routerLink="admin">  Admin</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <h2>Shelter from the Storm Tour 2017</h2>
  <router-outlet></router-outlet>
</div>
