h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 120px;
  color: #D3D3D3;
  margin-top: 20%;
}

h2 {
  font-family: 'Bungee Outline', cursive;
  font-size: 35px;
  margin-top: 24%;
  margin-left: -5%;
  color: #696969;

}

.navbar-header {
  font-family: 'Reenie Beanie', cursive;

}

a {
  font-size: 40px;
}

.navbar-default {
  background-color: white;
  font-family: 'Reenie Beanie', cursive;
}

.nav {
  color: white;
}
