<h4>Edit Crew Member Details</h4>

<label>New Crew Name:</label>
<input [(ngModel)]="selectedCrew.name">
<br>

<label>NewDepartment:</label>
<input [(ngModel)]="selectedCrew.department">
<br>

<label>New Job:</label>
<input [(ngModel)]="selectedCrew.job">
<br>

<label>New Experience:</label>
<input [(ngModel)]="selectedCrew.experience">
<br>
<button  class="btn btn-info" routerLink="/roster" (click)="beginUpdatingCrew(selectedCrew)">Update</button>
<hr>
<button class="btn btn-danger"(click)="beginDeletingCrew(selectedCrew)">Delete</button>
